IMAGE_NAME=cloud-mail-external-sync
IMAGE_TAG=dev0701
CONTAINER_NAME=cloud-mail-external-sync

HTTP_PORT=80
ALT_HTTP_PORT=8080

INTERNAL_TOKEN=replace-with-worker-external-mail-internal-token
WORKER_BASE_URL=https://mail.zhongwenmj.com

IMAP_CONNECTION_TIMEOUT=15000
IMAP_GREETING_TIMEOUT=10000
IMAP_SOCKET_TIMEOUT=30000
IMAP_PROBE_TIMEOUT=2000
